<section>
  <h1>Currencies</h1>

  <canvas id="lineChart" width="400" height="400"></canvas>
  <input type="hidden" id="lineChartData" data-line-chart="<%= currencies_line_chart_data %>">

  <div id="collected_currencies_chart">
    <%= render 'pie_chart' %>
  </div>

  <%= form_tag collect_currencies_path, remote: true do %>
    <input class="search_query" type="text" placeholder="Enter name to filter countries..." name="q"
           data-url="<%= search_currencies_path %>"/>
    <div class="table_actions">
      <input type="submit" class="disabled" value="Collect"/>
    </div>
    <div id="currencies_list">
      <%= render 'list' %>
    </div>
  <% end %>
</section>