<!DOCTYPE html>
<html>
<head>
  <title>CurrencyTracker</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

<header>
  <h1>CurrencyTracker</h1>
  <nav>
    <ul>
      <li><%= link_to "Currencies", currencies_path %></li>
      <li><%= link_to "Countries", countries_path %></li>
    </ul>
  </nav>
</header>

<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "alert alert-#{key} #{}" %>
<% end %>


<%= yield %>

<footer>
  CurrencyTracker &copy; Copyright 2013 by Smart Enterprises.
</footer>
</body>
</html>
